#!/bin/bash

SCRIPT_MODE="$TF_VAR_ENV_APP_GL_SCRIPT_MODE"

source_folder=$TF_VAR_ENV_APP_BE_LOCAL_SOURCE_FOLDER

sudo cp $source_folder/default-jetty.j2 /etc/default/jetty

sudo systemctl restart jetty
